{% extends 'base.html' %} <!-- permet d'avoir l'entête et le menu sur toutes les pages -->

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ evenement_object.image.url }}" width="500px" height="500px" alt="{{ evenement_object.title }}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2 id="titre_ev" class="text-warning titre_ev">{{ evenement_object.title }}</h2>
            <p>{{ evenement_object.description }}</p>
            <form method="post">
                {% csrf_token %}
                <label for="formule">Choisir une formule:</label>
                <select name="formule" id="formule-select">
                    {% for formule in formules_with_prices %}
                        <option value="{{ formule.id }}" data-price-multiplier="{{ formule.price }}">{{ formule.formule }} - {{ formule.price|floatformat:2 }} €</option>
                    {% endfor %}
                </select>
                <p id="event-price">{{ formules_with_prices.0.price|floatformat:2 }} €</p>
                <button id="add-to-cart-btn" type="submit" class="btn btn-success shopping_cart" data-item-id="{{ evenement_object.id }}">Ajouter au panier</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script type= "text/javascript">

        // pour calculer le prix en fonction de la formule choisie 
    document.getElementById('formule-select').addEventListener('change', function() {
        var selectedOption = this.options[this.selectedIndex];
        var price = parseFloat(selectedOption.getAttribute('data-price-multiplier'));
        document.getElementById('event-price').textContent = price.toFixed(2) + ' €';
    });

    </script>

{% endblock %}                                                                                  