{% extends 'base.html' %}

{% block content %}

<div class="w-100 p-0">
    <div class="jumbotron jumbotron-fluid text-center text-white" style="background-image: url('https://www.visiterlyon.com/var/site/storage/images/1/7/5/7/887571-1-fre-FR/2d31a632ff4b-Clbration-athltes-Club-2024-1-.webp'); background-size: cover; background-position: center; height: 100vh; position: relative;">
        
        <div class="content d-flex flex-column align-items-center justify-content-center" style="position: relative; z-index: 2; height: 100%; padding: 0 15px;">
            <h1 class="display-3">Bienvenue aux Jeux Olympiques Paris 2024 !</h1>
            <p class="lead">Découvrez les événements sportifs les plus attendus et accédez à la billetterie officielle des Jeux Olympiques et Paralympiques de Paris 2024.</p>
            <div class="mt-4">
                <a href="{% url 'formules' %}" class="btn btn-outline-light btn-lg mx-2">Accéder aux Formules</a>
                <a href="{% url 'evenements' %}" class="btn btn-outline-light btn-lg mx-2">Accéder aux Événements</a>
                <a href="{% url 'sports' %}" class="btn btn-outline-light btn-lg mx-2">Accéder aux Sports</a>
            </div>
        </div>
        
        <div class="overlay" style="background-color: rgba(0, 0, 0, 0.5); position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 1;"></div>
    </div>
</div>

{% endblock %}