{% extends 'base.html' %}

{%block content%}

<!-- création du formulaire de recherche -->
    <div class="row">
        <div class="col-nd-12">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input type="search" class="form-control form-control-borderless" name="items-name" id="">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Recherche</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}