{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Votre Panier</h2>
    <div class="row">
        <!-- Colonne principale pour afficher les articles du panier -->
        <div class="col-md-8">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Produit</th>
                        <th scope="col">Formule</th>
                        <th scope="col">Prix Unitaire</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Total</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="panierItems">
                    <!-- Liste des articles du panier, mise à jour via le JS -->
                </tbody>
            </table>
        </div>
        <!-- Colonne pour afficher le résumé de la commande -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Votre commande</h5>
                    <p class="card-text">Nombre d'articles : <span id="total-articles">0</span></p>
                    <p class="card-text">Total : <span id="total-price">0.00</span> €</p>
                    <form id="checkout-form" action="{% url 'proceder_au_paiement' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="panier-data" name="panier_data" />
                        <input type="hidden" id="total-prix" name="total_prix" />
                        <button class="btn btn-primary" id="checkout-btn">Procéder au paiement</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block java %}
<script type="text/javascript">

    // Initialiser la page du panier
    updateTotals();
    updatePopover();

    // Fonction pour mettre à jour le localStorage avec le panier actuel
    function updateLocalStorage(panier) {
        localStorage.setItem('panier', JSON.stringify(panier));
    }

    // Fonction pour mettre à jour le popover dans la navbar
    function updatePopover() {
        let panier = JSON.parse(localStorage.getItem('panier')) || {};
        let panierString = "<h5>Votre panier</h5><ul>";
        for (let key in panier) {
            if (panier.hasOwnProperty(key)) {
                panierString += `<li>${panier[key].name} - ${panier[key].formule} : ${panier[key].quantity}</li>`;
            }
        }
        panierString += "</ul>";
        document.getElementById('shopping').setAttribute('data-content', panierString);
    }

     // Fonction pour mettre à jour les totaux dans la page du panier
    function updateTotals() {
        let panier = JSON.parse(localStorage.getItem('panier')) || {};
        let panierItems = document.getElementById('panierItems');
        let totalArticles = 0;
        let totalPrix = 0;

        panierItems.innerHTML = ''; // Vider le contenu avant la mise à jour

        for (let key in panier) {
            if (panier.hasOwnProperty(key)) {
                const item = panier[key];
                const itemTotal = item.price * item.quantity;
                totalArticles += item.quantity;
                totalPrix += itemTotal;

                // Ajouter une ligne au tableau
                panierItems.innerHTML += `
                <tr data-item-id="${key}">
                    <td>${item.name}</td>
                    <td>${item.formule}</td>
                    <td>${parseFloat(item.price).toFixed(2)} €</td>
                    <td><input type="number" class="form-control quantity" value="${item.quantity}" min="1"></td>
                    <td class="item-total">${itemTotal.toFixed(2)} €</td>
                    <td>
                        <button class="btn btn-danger btn-sm remove-item">Supprimer</button>
                    </td>
                </tr>
            `;
        }
    }


        // Mettre à jour les totaux affichés sur la page
        $('#total-articles').text(totalArticles);
        $('#total-price').text(totalPrix.toFixed(2));
        updateNavbarItemCount(); // Mettre à jour le nombre d'articles dans la navbar
    }

    // Fonction pour mettre à jour le nombre d'articles dans la navbar
    function updateNavbarItemCount() {
        let panier = JSON.parse(localStorage.getItem('panier')) || {};
        let totalArticles = 0;
        for (let key in panier) {
            if (panier.hasOwnProperty(key)) {
                totalArticles += parseInt(panier[key].quantity);
            }
        }
        document.getElementById("shopping").innerHTML = `Panier (${totalArticles})`;
    }


    // Fonction pour gérer les changements de quantité
    function handleQuantityChange(event) {
        if ($(event.target).hasClass('quantity')) {
            let itemId = $(event.target).closest('tr').data('item-id');
            let newQuantity = parseInt($(event.target).val());
            let panier = JSON.parse(localStorage.getItem('panier')) || {};

            if (panier[itemId]) {
                panier[itemId].quantity = newQuantity;
                updateLocalStorage(panier);

                let itemPrice = parseFloat($(event.target).closest('tr').find('td:nth-child(3)').text().replace(' €', ''));
                let newTotal = itemPrice * newQuantity;
                $(event.target).closest('tr').find('.item-total').text(newTotal.toFixed(2) + ' €');

                // Mettre à jour les totaux
                updateTotals();
            }
        }
    }

    // Ajouter les écouteurs d'événements pour les modifications de quantité
    $('#panierItems').on('change', '.quantity', handleQuantityChange);



    // Fonction pour supprimer un article
    function handleRemoveItem(event) {
        if (event.target.classList.contains('remove-item')) {
            let itemId = event.target.getAttribute('data-item-id');
            let panier = JSON.parse(localStorage.getItem('panier')) || {};

            delete panier[itemId];
            updateLocalStorage(panier);

            let itemRow = event.target.closest('tr');
            itemRow.remove();

            // Mettre à jour les totaux
            updateTotals();
        }
    }

    // Ajouter les écouteurs d'événements pour les suppressions
    document.getElementById('panierItems').addEventListener('click', handleRemoveItem);


// Quand on clique sur le bouton de paiement
    $('#checkout-btn').on('click', function(e) {
        e.preventDefault();  // Empêche le rechargement immédiat de la page
        
        let panier = JSON.parse(localStorage.getItem('panier')) || {};
        let totalPrix = $('#total-price').text();  // Récupère le prix total

        console.log('Le bouton payer a été cliqué');  // Ajoutez ceci pour déboguer

        // Remplir les champs cachés avec les données du panier et le prix total
        $('#panier-data').val(JSON.stringify(panier));
        $('#total-prix').val(totalPrix);

        console.log('Formulaire prêt à être soumis', panier, totalPrix);  // Débogage supplémentaire

        // Soumettre le formulaire
        $(this).closest('form').submit();
    });
</script>
{% endblock %}