{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}
<div class="container mt-4">
    <h2>Suivi de vos commandes</h2>

    {% if commandes %}
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Numéro de commande</th>
                    <th scope="col">Date de la commande</th>
                    <th scope="col">Événements/Formules</th>
                    <th scope="col">Prix Total</th>
                    <th scope="col">E-billet</th>
                </tr>
            </thead>
            <tbody>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.numero_commande }}</td>
                        <td>{{ commande.date_commande|date:"d M Y H:i" }}</td>
                        <td>
                            <ul>
                                {% for evenement, formule in commande.evenement_formule_pairs %}
                                    <li>
                                        {{ evenement.title }} - {{ formule.formule }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    <td>{{ commande.prix_total }} €</td>
                    <td>
                        {% if commande.ebillet_path %}
                            <a href="{% url 'telecharger_ebillet' commande.id %}" class="btn btn-primary">Télécharger mon e-billet</a>
                        {% else %}
                            <span>E-billet non disponible</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Vous n'avez encore passé aucune commande.</p>
{% endif %}
</div>
{% endblock %}