{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <!-- Titre et sous-titre de la page -->
    <div class="row text-center mb-4">
        <div class="col-12">
            <h1>Inscription aux Jeux Olympiques Paris 2024</h1>

        </div>
    </div>

    <!-- Formulaire d'inscription -->
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="font-weight-light my-4 text-center">Créer votre compte</h3>
                    <form method="post" action="{% url 'inscription' %}">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group mb-6">
                                <div class=" ">{{ field.label_tag }}</div>
                                <div class=""> {{ field }}</div>
                                {% if field.errors %}
                                    <div class="alert alert-danger mt-2">
                                        {{ field.errors|striptags }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-block">S'inscrire</button>
                    </form>
                    <p class="text-center mt-3">Déjà inscrit ? <a href="{% url 'connexion' %}" class="btn btn-link">Se connecter</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}