{% extends 'base.html' %}

{%block content%}

<h1>Merci pour votre commande. Vous allez recevoir vos E-billets par mail</h1>

<div class="text-center mt-4">
    <a href="{% url 'commandes' %}" class="btn btn-outline-secondary btn-lg">Mes commandes</a>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
    // Fonction pour vider le panier du localStorage
    function clearLocalStorage() {
        localStorage.removeItem('panier');
    }

    // Appeler la fonction pour vider le panier
    clearLocalStorage();
</script>
{% endblock %}